<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Room</title>
    <link rel="stylesheet" href="lib/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="css/style.css">
</head>
<body>
    <div id="header">
        <h1 class="title" >Chat!</h1>
    </div>
    <div id="main">
        <div id="tab">
            <div class="logo">Room 1</div>
        </div>
        <div class="chat-area">
            <div id="chatLogs"></div>
        </div>
        <div class="msg-form-1">
            <form id="msg-form" class="text-left">
                <div class="main-msg-form">
                    <div class="msg-group">
                        <div class="msg-form-group">
                            <input type="text" class="msg-form-control" id="lg_username" name="lg_username" placeholder="message">
                        </div>
                        <div class="msg-form-group">
                        </div>
                    </div>
                    <button type="submit" class="msg-button"><i class="fa fa-chevron-right">></i></button>
                </div>
            </form>
        </div>
    </div>
    <div id="footer">
    </div>
    <script src="lib/jquery/jquery.js"></script>
    <script src="lib/bootstrap/js/bootstrap.min.js"></script>
    <script src="js/main.js"></script>
</body>
</html>